{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}新建工单{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">标题*</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="category">类别*</label>
    <select name="category" id="category" required>
        <option value="outlook">邮箱</option>
        <option value="PC">PC</option>
        <option value="card">门禁卡</option>
        <option value="other">其他</option>
    </select>
    <label for="body">请具体描述您的问题*</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="提交">
  </form>
{% endblock %}