{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}工单列表{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">新建</a>
  {% endif %}
  {% if is_admin %}
    <a class="action" href="{{ url_for('blog.filter_display', status='new') }}">新的</a>
    <a class="action" href="{{ url_for('blog.filter_display', status='ongoing') }}">进行中</a>
    <a class="action" href="{{ url_for('blog.filter_display', status='closed') }}">已解决</a>
    <a class="action" href="/">全部</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">提交人：{{ post['username'] }} 提交时间：{{ post['created'].strftime('%Y-%m-%d %H:%M') }}</div>
          <div class="about">状态：{{s_dict[post['status']]}} </div>
          {% if not post['owner'] == None %}
          <div class="about">负责人：{{post['owner']}} </div>
          {% endif %}
          {% if post['status'] == "closed" %}
          <div class="about">解决时间：{{post['done'].strftime('%Y-%m-%d %H:%M')}} </div>
          {% endif %}
        </div>
        {% if is_admin%}
          <a class="action" href="{{ url_for('blog.update', id=post['id'], key=key) }}">编辑</a>
        {% endif %}
      </header>
      <p class="body">问题描述：{{ post['body'] }}</p>
      {% if post['status'] == 'closed' %}
      <p class="body">解决方案：{{ post['solution'] }}</p>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}