{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}工单列表{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">新建</a>
  {% endif %}
  {% if is_admin %}
    <a class="action" href="{{ url_for('blog.filter_display', status='new', page=1) }}">新的</a>
    <a class="action" href="{{ url_for('blog.filter_display', status='ongoing', page=1) }}">进行中</a>
    <a class="action" href="{{ url_for('blog.filter_display', status='closed', page=1) }}">已解决</a>
    <a class="action" href="{{ url_for('blog.index') }}">全部</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">提交人：{{ post['username'] }} 提交时间：{{ post['created'].strftime('%Y-%m-%d %H:%M') }}</div>
          <div class="about">状态：{{s_dict[post['status']]}} </div>
          {% if not post['owner'] == None %}
          <div class="about">负责人：{{post['owner']}} </div>
          {% endif %}
          {% if post['status'] == "closed" %}
          <div class="about">解决时间：{{post['done'].strftime('%Y-%m-%d %H:%M')}} </div>
          {% endif %}
        </div>
        {% if is_admin%}
          <a class="action" href="{{ url_for('blog.update', id=post['id'], key=key_word) }}">编辑</a>
        {% endif %}
      </header>
      <p class="body">问题描述：{{ post['body'] }}</p>
      {% if post['status'] == 'closed' %}
      <p class="body">解决方案：{{ post['solution'] }}</p>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
    <hr>
    <a class="action" href="{{ url_for('blog.index') }}">回到主页</a>
    {% if total_page > 1 and not key_word %}
        {% if page_num>1 %}
    <a class="action" href="{{ url_for('blog.pre_page', page=(page_num-1)) }}">上一页</a>
        {% endif %}
    <a class="action" href="{{ url_for('blog.filter_display', status='ongoing') }}">{{page_num}}</a>
        {% if total_page > page_num %}
    <a class="action" href="{{ url_for('blog.pre_page', page=(page_num+1)) }}">下一页</a>
    <a class="action" href="{{ url_for('blog.pre_page', page=total_page) }}">最后一页({{total_page}})</a>
        {% endif %}
    {% endif %}

    {% if total_page > 1 and key_word %}
        {% if page_num>1 %}
    <a class="action" href="{{ url_for('blog.pre_page_filter', page=1, status=key_word) }}">回到首页</a>
    <a class="action" href="{{ url_for('blog.pre_page_filter', page=(page_num-1), status=key_word) }}">上一页</a>
        {% endif %}
    <a class="action" href="{{ url_for('blog.filter_display', status=key_word) }}">{{page_num}}</a>
        {% if total_page > page_num %}
    <a class="action" href="{{ url_for('blog.pre_page_filter', page=(page_num+1), status=key_word) }}">下一页</a>
    <a class="action" href="{{ url_for('blog.pre_page_filter', page=total_page, status=key_word) }}">最后一页({{total_page}})</a>
        {% endif %}
    {% endif %}

{% endblock %}