{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}编辑
    "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">标题</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">问题描述</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <hr>
    <label for="status">工单状态</label>
    <select name="status" id="status" >
        {% for option in drop_down %}
        <option value="{{ option.value }}" {% if option.selected  %}selected {% endif %}>{{ option.text }}</option>
        {% endfor %}
    </select>
    <label for="owner">负责人</label>
    <select name="owner" id="owner">
        <option value="none" selected disabled hidden>请选择负责工程师</option>
        {% for admin in admins %}
        <option value="{{ admin.value }}" {% if admin.selected  %}selected {% endif %}>{{ admin.text }}</option>
        {% endfor %}
    </select>
    <label for="solution">解决方案</label>
    <textarea name="solution" id="solution">请填写解决方案</textarea>
    <input type="submit" value="保存">
  </form>
  <script>
    status = document.getElementById("status").options;
    for(i=0;i<status.length;i++){
        if (status[i].value == "{{post['status']}}"){
        status[i].selected = true;
        }
    }
  </script>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="删除" onclick="return confirm('确定要删除吗?');">
  </form>
{% endblock %}